.form_container {
    width: 30%;
    
}
.bg_login {
    background-color: #f0efef;
}

.btn_color {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: Poppins;
    color: white;
    font-size: 1.5rem;
    background-color: darkgreen;
}

@media screen and (max-width: 1000px) {
    .form_container {
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    .form_container {
        width: 65%;
    }
}